<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <link rel="stylesheet" href="css/login.css" />
    </h:head>
    <h:body>
        <h:form class="formulario">
            <h2>Acceso Administrativo</h2>
            <p>Ingrese sus datos para entrar al sistema.</p>
            <h:panelGrid columns="2">
                <h:outputLabel value="Usuario: " />
                <h:inputText id="user" label="Usuario" required="true" value="#{adminController.selected.email}" />
                <h:outputLabel value="Contraseña: " />
                <h:inputSecret id="password" label="Password" required="true" value="#{adminController.selected.password}" />
            </h:panelGrid>
            <h:messages infoStyle="color: blue;list-style:none;" errorStyle="color:red;list-style:none;"/>
            <section class="seccionBotones">
                <h:commandButton value="Ingresar" class="boton" action="#{adminController.login()}" />
            </section>
        </h:form>
    </h:body>
</html>

