<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <link rel="stylesheet" href="css/login.css" />
    </h:head>
    <h:body>
        <h:form class="formulario">
            <h2>Acceso Denegado</h2>
            <p style="color:red;">No ingresó datos de lógin válidos.</p>
        </h:form>
    </h:body>
</html>

