<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="-Titulo-"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="-Lista Vacía-" rendered="#{adminController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{adminController.items.rowCount > 0}">
                    <h:outputText value="#{adminController.pagination.pageFirstItem + 1}..#{adminController.pagination.pageLastItem + 1}/#{adminController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{adminController.previous}" value="#{bundle.Previous} #{adminController.pagination.pageSize}" rendered="#{adminController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{adminController.next}" value="#{bundle.Next} #{adminController.pagination.pageSize}" rendered="#{adminController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{adminController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="-Nombre-"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="-Apellidos-"/>
                            </f:facet>
                            <h:outputText value="#{item.apellidos}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="-Mail-"/>
                            </f:facet>
                            <h:outputText value="#{item.email}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="-Password-"/>
                            </f:facet>
                            <h:outputText value="#{item.password}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="-Tipo-"/>
                            </f:facet>
                            <h:outputText value="#{item.tipo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{adminController.prepareView}" value="#{bundle.ListAdminViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{adminController.prepareEdit}" value="#{bundle.ListAdminEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{adminController.destroy}" value="#{bundle.ListAdminDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{adminController.prepareCreate}" value="#{bundle.ListAdminCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListAdminIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
