body
{
    background-color: #8BB9C7;
    font-family: sans-serif;
    text-align: center;
}
  
.formulario
{
    background-color: #F3F3F3;
    border-radius: 7px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);/*Sombra*/
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    width: 370px;
    -webkit-animation: entrada 1s;
    -moz-animation: entrada 1s;
    -ms-animation: entrada 1s;
    -o-animation: entrada 1s;
    animation: entrada 1s;
}
  
.formulario a
{
    color: #7C96B7;
}
  
.formulario h2
{
    color: #414848;
}

label{
    width: 180px; 
    text-align: right;
}

table{
    width: 100%;
    padding-left: 10px;
}
  
input
{
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2) inset, -1px -1px 1px rgba(0, 0, 0, 0.1) inset, 0px 0px 2px white;
    min-width: 240px;
    padding: 5px;
    color: black;
    font-size: 17px;
    height: 35px;
    margin: 4px;
    -webkit-: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.boton
{
    background-color: #409FBA;
    color: white;
}
  
input:hover
{
    background-color: #409FBA;
    color: white;
    cursor: pointer;
}
.boton:hover
{
    background-color: #009966;
}
  
input:focus
{
    outline: none;
}
  
.formulario p
{
    color: #7C96B7;
}
  
.seccionBotones
{
    background-color: #D4DEDF;
    border-radius: 0px 0px 7px 7px;
    box-shadow: 0px 0px 2px white, 0px 2px 2px rgba(0, 0, 0, 0.2), 0px 0px 2px white inset;
    padding-bottom: 10px;
    padding-right: 7px;
    padding-top: 10px;
    text-align: right;
}
  
@-webkit-keyframes entrada
{
    0%
    {
        margin-top: -1000px;
        -webkit-transform: rotate(360deg);
    }
    75%
    {
        margin: 30px auto;
    }
    100%
    {
        margin: 0px auto;
        -webkit-transform: rotate(0deg);
    }
}
  
@-moz-keyframes entrada
{
    0%
    {
        margin-top: -1000px;
        -moz-transform: rotate(360deg);
    }
    75%
    {
        margin: 30px auto;
    }
    100%
    {
        margin: 0px auto;
        -moz-transform: rotate(0deg);
    }
}
  
@-ms-keyframes entrada
{
    0%
    {
        margin-top: -1000px;
        -ms-transform: rotate(360deg);
    }
    75%
    {
        margin: 30px auto;
    }
    100%
    {
        margin: 0px auto;
        -ms-transform: rotate(0deg);
    }
}
  
@-o-keyframes entrada
{
    0%
    {
        margin-top: -1000px;
        -o-transform: rotate(360deg);
    }
    75%
    {
        margin: 30px auto;
    }
    100%
    {
        margin: 0px auto;
        -o-transform: rotate(0deg);
    }
}
  
@keyframes entrada
{
    0%
    {
        margin-top: -1000px;
        transform: rotate(360deg);
    }
    75%
    {
        margin: 30px auto;
    }
    100%
    {
        margin: 0px auto;
        transform: rotate(0deg);
    }
}

