<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>

                <h:link rel="stylesheet" type="text/css"  hreflang="css/affablebean.css" />
                <title>PrimeFaces</title>
                <h:outputStylesheet name="css/jsfcrud.css"/>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true">

                <p:layoutUnit position="north" size="50" resizable="true" closable="true" collapsible="true">
                    CARRITO!!!!
                </p:layoutUnit>

                <p:layoutUnit position="south" size="50" closable="true" collapsible="true">
                    Footer
                </p:layoutUnit>

                <p:layoutUnit position="west" size="245" collapsible="false" >


                    <p:menu>
                        <p:submenu label="Categorias">
                            <p:menuitem value="Animales"   url="http://www.primefaces.org/showcase-labs/ui/home.jsf" />
                            <p:menuitem value="Super heroes" url="http://www.primefaces.org/documentation.html" />
                            <p:menuitem value="Edad media" url="http://forum.primefaces.org/" />
                            <p:menuitem value="Caricaturas" url="http://www.primefaces.org/themes.html" />

                        </p:submenu>

                    </p:menu>


                </p:layoutUnit>

                <p:layoutUnit position="center">



                    <div align="center">
                        <table id="productTable">
                            <tr>
                                <td class="lightBlue">
                                    <img src="#" alt="product image"/>
                                </td>
                                <td class="lightBlue">
                                    [ product name ]
                                    <br/>
                                    <span class="smallText">[ product description ]</span>
                                </td>
                                <td class="lightBlue">[ price ]</td>
                                <td class="lightBlue">
                                    <form action="#" method="post">
                                        <input type="submit" value="agregar al carrito"/>
                                    </form>
                                </td>
                            </tr>

                            <tr>
                                <td class="white">
                                    <img src="#" alt="product image"/>
                                </td>
                                <td class="white">
                                    [ product name ]
                                    <br/>
                                    <span class="smallText">[ product description ]</span>
                                </td>
                                <td class="white">[ price ]</td>
                                <td class="white">
                                    <form action="#" method="post">
                                        <input type="submit" value="agregar al carrito"/>
                                    </form>
                                </td>
                            </tr>

                            <tr>
                                <td class="lightBlue">
                                    <img src="#" alt="product image"/>
                                </td>
                                <td class="lightBlue">
                                    [ product name ]
                                    <br/>
                                    <span class="smallText">[ product description ]</span>
                                </td>
                                <td class="lightBlue">[ price ]</td>
                                <td class="lightBlue">
                                    <form action="#" method="post">
                                        <input type="submit" value="agregar al carrito"/>
                                    </form>
                                </td>
                            </tr>

                            <tr>
                                <td class="white">
                                    <img src="#" alt="product image"/>
                                </td>
                                <td class="white">
                                    [ product name ]
                                    <br/>
                                    <span class="smallText">[ product description ]</span>
                                </td>
                                <td class="white">[ price ]</td>
                                <td class="white">
                                    <form action="#" method="post">
                                        <input type="submit" value="agregar al carrito"/>
                                    </form>
                                </td>
                            </tr>
                        </table>



                    </div>



                </p:layoutUnit>

            </p:layout>

            <br />
            <h:link outcome="/admin/List" value="Show All Admin Items"/>
            <br />
            <h:link outcome="/categoria/List" value="Show All Categoria Items"/>
            <br />
            <h:link outcome="/cliente/List" value="Show All Cliente Items"/>
            <br />
            <h:link outcome="/pedido/List" value="Show All Pedido Items"/>
            <br />
            <h:link outcome="/producto/List" value="Show All Producto Items"/>
        </h:body>






    </f:view>
</html>


